<html>
<body>
<h3 align="left">MEA</h3>
<h1><center>Maintenance Of Aircraft Engine</center></</h1>
<p>Machine learning algorith to detect the engine failure before hand reduce the maintenance costs.</p>

<p>Engine failure is highly risky and needs a lot of time for repair. Unexpected failure leads to loss of money and time. Predicting the failure prior, will save time, effort, money and sometimes even lives. The failure can be detected by installing the sensors and keeping a track of the values. The failure detection and predictive maintenance can be for any device, out of which we will be dealing with the engine failure for a threshold number of days. The project aims to predict the failure of an engine by using Machine Learning to save loss of time & money thus improving productivity.</p>
<center><form method="post" action="/m_predict" >
<input type="submit" value="Manual"/><br>
</form></center>
<center><form action="/s_predict" method="post">
<input type= "submit" value="sensor"></center>
</form>
</body>
</html>