<html>
<body>
<h><center>Engine Failure Prediction Using Sensor Data</center></h>
<p><center>Data Obtained from 21 different sensors along with 3 setting values,an engine id,number of cycles per minute and the trajectory are given to the model.
<form method="post" action="sy_predict"><center>
<br><center><button>Submit</button></center></form>
<br><p><center>Sensor data given to the model in the irder{Engine id,Number of cycles per minute,3 setting values,21 sensor values and trajectory}are</center></p>
<p> {{prediction_text}}</p>
<br><p> {{data}}</p>
</body>
</html>